@import "default.css";

/* Reset ----- */
body#ttrssMain, body#ttrssPrefs, body#ttrssLogin, body {
    color: black;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 1.5;
}

body#ttrssMain #feedTree {
    font-family: "Arial", sans-serif;
}

.dijitTreeLabel {
    vertical-align: middle;
}
/* Preview Pane */
.odd, .even {
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.even.Unread,
.even.Unread td {
    background: #fff;
}

/* Don't show author info*/
span.author {
    display: none;
}


/* Post Content
------------------------------------------------------------ */
div.postTitle a {
    color: #000;
    font-size: 20px;
    font-size: 1.250rem; /* 20 / 16 */
    font-weight: 700;
}

div.postReply div.postContent {
    font-size: 14px;
    font-size: 0.875rem; /* 14 / 16 */
    padding: 20px;
}

div.postContent p {
    margin-bottom: 16px;
    margin-bottom: 1rem; /* 16 / 16 */
}

/* set font to gray normal for all read */
div.cdm.expandable div.cdmHeader a.title {
    font-weight: normal;
    color: gray;
}

/* set font to bold black for unread */
div.cdm.expandable.Unread div.cdmHeader a.title {
    font-weight: bold;
    color: black;
}

/* Article Excerpt */
span.cdmExcerpt {
    font-size: 12.5px;
    vertical-align: middle;
    padding-left: 2px;
    padding-bottom: 1px;
}

/* reduce height of feeds to 21px + 2px margin-bottom and move feeds to the left by 10px */
#feedTree .dijitTreeNode {
    line-height: 1.2;
    margin: 2px 0;
    margin-left: -10px;
}

body#ttrssMain #feedTree .dijitTreeRow {
    padding: 2px 7px 2px 0px;
}

#feedTree .dijitTreeIsRoot{
margin-left: 0px;
}

.claro .dijitTreeRowHover,
.claro .dijitTreeRowSelected,
.claro .dijitTreeRowActive {
    background-color: rgb(229, 229, 229);
    background-image: none;
}

.claro .dijitSplitterVHover,
.claro .dijitSplitterVActive{
    background-color: rgb(229, 229, 229);
}

/* image for category expand */
#feedTree .dijitTreeExpandoOpened {
    background-image: url(grone_imgs/grone_sprite.png);
    background-position: -16px 0px;
    position: relative;
    left: 4px;
}

#feedTree .dijitTreeExpandoClosed {
    background-image: url(grone_imgs/grone_sprite.png);
    background-position: 0px 0px;
    position: relative;
    left: 4px;
}
#feedTree .dijitTreeExpandoLeaf {
    background-image: none;
}
/* folder icon */
#feedTree .dijitIconFolderOpen,
#feedTree .dijitFolderOpened {
    display: none;
}
#feedTree .dijitIconFolderClosed,
#feedTree .dijitFolderClosed {
    display: none;
}

/* keep text on one line
div.cdmHeader {
    white-space: nowrap;
} */

/* align date to right */
div.cdmHeader span.updated {
    text-align: right;
}

/* set row height to hide overflow excerpt text */
div.cdmHeader > * {
    height: 21px;
}


/* use absolute position to hide overflow text */
#headlines-frame > div > div.cdmHeader > span.titleWrap
{
    cursor: pointer;
    padding-left: 20px;
    padding-right: 10px;
    max-width: 200px;
    line-height: 20px;
}

img.pubPic {
    display: none;
}

#feed_title {
    color: black;
    font-size: 13.5px;
    font-weight: bold;
}

div#headlines-toolbar span.r {
    text-align: left;
    float: left;
}

div#headlines-toolbar span.r a {
    color: black;
}

div.cdmHeader img.tinyFeedIcon {
    float: left;
    left: 0;
    position: absolute;
    margin-left: 48px;
}

/* hide border on splitter */
#content-wrap{
    border-left: 0;
}
#feeds-holder{
    border-right: 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1) inset;
    background: none;
}
.claro .dijitSplitterV .dijitSplitterThumb {
    display: none;
}

/* Add 'logo' */
#feeds-holder:before{
    content: "Tiny Tiny RSS";
    color: black;
    font-size: 20px;
    line-height: 51px;
    text-align:center;
    margin-left: 20px;
}

div#headlines-toolbar {
    text-align: right;
    border-color: #ebebeb;
    background-color: #FFFFFF;
}

#feedTree{
    border-top: 1px solid rgb(235, 235, 235);
}

#main-toolbar{
    background-color: #FFFFFF;
    border-bottom: 0;
}

#selected_prompt {
    margin-left: 15px;
    float: right;
}

div.cdm.expandable {
    border-color: #ebebeb;
}

/* .claro .dijitCheckBox {
    background-image: none;
    border: 1px solid rgba(155, 155, 155, 0.57);
    width: 11px;
    height: 11px;
}*/

/* reduce padding in menu items */
.claro td.dijitMenuItemLabel {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* vertically center the rss icon */
.noborder {
    padding-bottom: 4px;
}
